<!doctype html>
{{> html_start~}}
<head>
{{> head }}
</head>
<body id="{{get "view.filename"}}" class="{{dir}}">

{{> header }}

<main class="contents">
{% body %}
</main>

{{> footer }}

{{> script_footer }}
</body>
{{> html_end~}}
