@charset "utf-8";

/**
 * =============================================================================
 * Parts -> Others
 * =============================================================================
 */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	font-size: 0;
}
