@charset "utf-8";

/**
 * =============================================================================
 * Base -> Text Decoration
 * =============================================================================
 */


/* 
========================================== */
p, address, th, td {
	font-size: 107.8%;
	line-height: 1.5;
	color:#5E5E5E;
}

li, dt, dd {
	font-size: 92.4%;
	line-height: 1.335;
}

/* Inner Reset  */
th p, th li, th dt, th dd,
td p, td li, td dt, td dd,
li p, li li, li dt, li dd,
dt p, dt li, dt dt, dt dd,
dd p, dd li, dd dt, dd dd {
	font-size: 100%;
}

em {
	font-weight: bold;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
